html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  background-color: pink;
  background-color: #222222;
  opacity: 1;
  background-image: linear-gradient(#b7b7b7 1px, transparent 1px), linear-gradient(to right, #b7b7b7 1px, #222222 1px);
  background-size: 100px 100px;
  background: rgb(16, 30, 67);
  background: radial-gradient(circle, rgb(16, 30, 67) 0%, rgb(15, 23, 42) 100%);
  color: #94a3b8;
  font-family: "inter", sans-serif;
  font-size: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: unset;
  color: unset;
  font-family: "lato", sans-serif;
  color: #e2e8f0;
  font-size: 1.125rem;
  display: block;
}

svg {
  display: block;
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.divider {
  width: 100%;
  height: 1px;
  border: none;
  margin: 0;
  background-color: #101e43;
}

.active-link {
  border-bottom: 2px solid #38bdf8;
  border-radius: 4px;
  transform: scaleX(1);
}

.link-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-link {
  background-color: #0f172a;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.outer-wrapper, .footer, .skills, .hero, .header {
  width: 100%;
}

.inner-wrapper, .footer__container, .info__container, .skills__container, .intro, .hero__container, .header__container {
  width: 90%;
  margin: 0 auto;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0 6rem 0;
}

.skills__grid, .info__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.project__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}

.badge__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

h1 {
  color: white;
}

em {
  color: #e2e8f0;
  font-style: unset;
  font-weight: 500;
}

p {
  line-height: 1.4;
}

.underline {
  position: relative;
  margin-bottom: 1rem;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 15%;
  height: 2px;
  background-color: #38bdf8;
  border-radius: 4px;
}

.footer__heading {
  font-size: 1.125rem;
  font-weight: 600;
  color: #94a3b8;
  text-transform: uppercase;
}

.hero__heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 0 1px #fff;
}

.page-heading {
  font-size: 2rem;
  font-weight: 700;
  color: #e2e8f0;
  margin-bottom: 1rem;
}

.section-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: #e2e8f0;
  margin-bottom: 1.5rem;
}

.sub-heading {
  font-size: 1.125rem;
  font-weight: 600;
  color: #38bdf8;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.badge__label {
  font-size: 0.75rem;
  font-weight: 500;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.card__heading {
  font-size: 1.25rem;
  font-weight: 700;
  color: #e2e8f0;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.card__sub-heading {
  font-weight: 700;
  color: #38bdf8;
  text-transform: uppercase;
}

.badge__text {
  color: #5eead4;
  font-size: 0.875rem;
}

.path-heading {
  font-weight: 700;
  color: #e2e8f0;
}

.path-sub-heading {
  font-weight: 700;
  color: #38bdf8;
  text-transform: uppercase;
}

.header {
  height: 3rem;
  z-index: 1;
}
.header__container {
  padding: 1rem 0;
}

.nav__link-container {
  display: flex;
  gap: 2rem;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.nav__link:hover {
  color: #38bdf8;
}
.nav__link::after {
  content: "";
  display: block;
  border-bottom: 2px solid #38bdf8;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 0.4s;
  padding-top: 3px;
}
.nav__link:hover::after {
  transform: scaleX(1);
}

.hero__container {
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: center;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.hero {
  position: relative;
  top: -3rem;
  background-image: url("../assets/images/mountains-bg.jpg");
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 100vh;
}

.intro__avatar {
  width: 200px;
  border-radius: 50%;
}
.intro__avatar > img {
  border-radius: 50%;
}

.card__image {
  border-radius: 3px;
}
.card__image > img {
  border-radius: 3px;
}

.intro {
  padding: 2rem 0;
}
.intro__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
}

.skills {
  background-color: #0f172a;
  margin-bottom: 4rem;
}
.skills__container {
  padding: 2rem 0;
}

.info {
  background-color: #0f172a;
  margin-left: -5%;
  margin-right: -5%;
}
.info__container {
  padding: 2rem 0;
}

.badge__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
}
.badge__list > li {
  list-style: none;
}

.badge__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.badge__icon-container {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #132f4b;
  border-radius: 50%;
}

.skill__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0;
  padding: 0;
}
.skill__list > li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0;
}

.link-icon {
  width: 1.5rem;
  height: auto;
  color: #5eead4;
}

.brand-icon {
  width: 2rem;
  height: auto;
  color: inherit;
}
.brand-icon--small {
  width: 1.25rem;
}

.sub-heading-icon {
  width: 1.25rem;
  height: auto;
}

.badge__icon {
  width: 1.5rem;
  height: auto;
  color: #e2e8f0;
}

.check-icon {
  width: 1rem;
  height: auto;
  color: #5eead4;
}

.badge {
  background-color: #132f4b;
  padding: 0.25rem 1rem;
  border-radius: 64px;
}

.arrow-icon {
  width: 1.125rem;
  height: auto;
  color: #38bdf8;
  cursor: pointer;
}
.arrow-icon--up {
  transform: rotate(-90deg);
}
.arrow-icon--down {
  transform: rotate(90deg);
}

.path__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38bdf8;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 10%;
  transform: translateX(-50%);
}

.path-icon {
  width: 1.5rem;
  height: auto;
  color: #e2e8f0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #132f4b;
  color: #38bdf8;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.5rem;
  font-size: 1.125rem;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}
.link-button:hover {
  background-color: transparent;
  color: #e2e8f0;
  border: 2px solid #38bdf8;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact__button {
  display: flex;
  margin-right: auto;
  background-color: #132f4b;
  color: #38bdf8;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  cursor: pointer;
}
.contact__button:hover {
  background-color: transparent;
  color: #e2e8f0;
  border: 2px solid #38bdf8;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0;
}

.contact__form input,
.contact__form textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #94a3b8;
  background-color: transparent;
  font-family: inter;
}
.contact__form input:focus,
.contact__form textarea:focus {
  outline: none;
  border: 1px solid #5eead4;
  background-color: #0f172a;
}

.contact__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.contact__input label {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: lato;
  color: #5eead4;
}
.contact__input textarea {
  resize: none;
  height: 8rem;
}

.path {
  position: relative;
}

.path__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: black;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  width: 65%;
  margin-left: auto;
}

.triangle-left {
  position: absolute;
  top: 0.5rem;
  left: -2rem;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 2rem solid black;
}

.path-sub-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.path__vert::before {
  content: "";
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 10%;
  border-left: 4px solid #38bdf8;
  transform: translateX(-50%);
}

.path__date {
  position: absolute;
  left: 0;
  top: 3rem;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  color: #e2e8f0;
  font-weight: 600;
}

.footer {
  background-color: #070e1d;
  flex-shrink: 0;
  margin-top: auto;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #e2e8f0;
}
.footer__icons {
  display: flex;
  gap: 1rem;
}/*# sourceMappingURL=styles.css.map */