html {
  box-sizing: border-box;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  background-image: linear-gradient(rgba(183, 183, 183, 0.0509803922) 1px, transparent 1px), linear-gradient(to right, rgba(183, 183, 183, 0.0509803922) 1px, transparent 1px);
  background-size: 100px 100px;
  background-position: center;
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
  background: rgb(16, 30, 67);
  background: radial-gradient(circle, rgb(16, 30, 67) 0%, rgb(15, 23, 42) 100%);
  background-attachment: fixed;
  color: #94a3b8;
  font-family: "inter", sans-serif;
  font-size: 1rem;
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

a {
  text-decoration: unset;
  color: unset;
  font-family: "lato", sans-serif;
  color: #e2e8f0;
  font-size: 1.125rem;
  display: block;
}

svg {
  display: block;
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.divider {
  width: 100%;
  height: 1px;
  border: none;
  margin: 0;
  background-color: #101e43;
}

.active-link {
  border-bottom: 2px solid #38bdf8;
  border-radius: 4px;
  transform: scaleX(1);
}

.link-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-link {
  background-color: #0f172a;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.fade-bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.page-width, .section-wrapper, .page-heading {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-width, .section-wrapper, .page-heading {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .page-width, .section-wrapper, .page-heading {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .page-width, .section-wrapper, .page-heading {
    width: 75%;
  }
}
@media (min-width: 1400px) {
  .page-width, .section-wrapper, .page-heading {
    width: 70%;
  }
}
@media (min-width: 1600px) {
  .page-width, .section-wrapper, .page-heading {
    width: 65%;
  }
}

.navbar, .footer__container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .navbar, .footer__container {
    width: 90%;
  }
}
@media (min-width: 1400px) {
  .navbar, .footer__container {
    width: 85%;
  }
}

.outer-wrapper, .hero, .header {
  width: 100%;
}

.inner-wrapper, .hero__container {
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .inner-wrapper, .hero__container {
    width: 80%;
  }
}

.page-heading {
  padding: 2rem 0 1rem 0;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.intro__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: -4rem;
}
@media (min-width: 992px) {
  .intro__container {
    flex-direction: row;
    align-items: center;
  }
}
.intro__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills__grid,
.info__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media (min-width: 992px) {
  .skills__grid,
  .info__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skills__grid-section-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills__grid-section-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  .skills__grid-section-2 {
    flex-direction: row;
  }
}

.project__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .project__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.badge__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

em {
  color: #e2e8f0;
  font-style: unset;
  font-weight: 500;
}

p {
  line-height: 1.4;
}

.footer__heading {
  font-size: 1.125rem;
  font-weight: 600;
  color: #94a3b8;
  text-transform: uppercase;
}

.hero__heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px #fff;
}
@media (min-width: 992px) {
  .hero__heading {
    font-size: 3.75rem;
  }
}

.page-heading {
  font-size: 2rem;
  font-weight: 700;
  color: #e2e8f0;
}
@media (min-width: 992px) {
  .page-heading {
    font-size: 2.875rem;
  }
}

.section-heading {
  font-size: 1.375rem;
  font-weight: 500;
  color: #e2e8f0;
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 1.75rem;
  }
}

.sub-heading {
  font-size: 1.125rem;
  font-weight: 600;
  color: #38bdf8;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.badge__label {
  font-size: 0.75rem;
  font-weight: 500;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.card__heading {
  font-size: 1.25rem;
  font-weight: 500;
  color: #e2e8f0;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.card__sub-heading {
  font-weight: 700;
  color: #38bdf8;
  text-transform: uppercase;
}

.badge__text {
  color: #5eead4;
  font-size: 0.875rem;
}

.path-heading {
  font-size: 1rem;
  font-weight: 700;
  color: #e2e8f0;
}

.path-sub-heading {
  font-size: 1rem;
  font-weight: 600;
  color: #38bdf8;
  text-transform: uppercase;
}

.accent-dot {
  color: #38bdf8;
}

.path__heading {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .path__heading {
    text-align: center;
  }
}

.path__body-text {
  font-size: 0.875rem;
  padding-right: 1rem;
}
@media (min-width: 992px) {
  .path__body-text {
    font-size: 1rem;
  }
}

.header {
  z-index: 100;
  background-color: transparent;
  position: relative;
}
.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar--open {
  background-color: #070e1d;
}

.nav__links {
  display: none;
  gap: 2rem;
  list-style: none;
  font-weight: 500;
}
@media (min-width: 992px) {
  .nav__links {
    display: flex;
  }
}

.nav__link {
  border-bottom: 2px solid transparent;
}
.nav__link:hover {
  color: #38bdf8;
}
.nav__link::after {
  content: "";
  display: block;
  border-bottom: 2px solid #38bdf8;
  transform: scaleX(0);
  transition: transform 0.4s;
  padding-top: 3px;
}
.nav__link:hover::after {
  transform: scaleX(1);
}

.active-link {
  color: #38bdf8;
}

.toggle-btn {
  display: block;
  width: 2rem;
  cursor: pointer;
}
.toggle-btn > svg {
  width: 100%;
  height: auto;
  color: #e2e8f0;
}
@media (min-width: 992px) {
  .toggle-btn {
    display: none;
  }
}

.dropdown {
  display: flex;
  position: absolute;
  z-index: 100;
  top: 4rem;
  height: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #070e1d;
  overflow: hidden;
}
@media (min-width: 992px) {
  .dropdown {
    display: none;
    width: 300px;
  }
}

.dropdown--open {
  height: 150px;
}

.dropdown__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero__container {
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.hero {
  position: relative;
  top: -4rem;
  background-image: url("../assets/images/mountains-bg.jpg");
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .hero {
    top: -4rem;
  }
}

.intro__avatar {
  width: 200px;
  border-radius: 50%;
}
.intro__avatar > img {
  border-radius: 50%;
}

.card__image {
  border-radius: 3px;
}
.card__image > img {
  border-radius: 3px;
}

.skills {
  width: 100%;
  margin: 0 auto;
  background-color: #0f172a;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.badge__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
}
.badge__list > li {
  list-style: none;
}

.badge__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.badge__icon-container {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #132f4b;
  border-radius: 50%;
}

.skill__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0;
  padding: 0;
}
.skill__list > li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0;
}

.link-icon {
  width: 1.5rem;
  height: auto;
  color: #5eead4;
}

.brand-icon {
  width: 2rem;
  height: auto;
  color: inherit;
}
.brand-icon--small {
  width: 1.25rem;
}

.sub-heading-icon {
  width: 1.25rem;
  height: auto;
}

.badge__icon {
  width: 1.5rem;
  height: auto;
  color: #e2e8f0;
}

.check-icon {
  width: 1rem;
  height: auto;
  color: #5eead4;
}

.badge {
  background-color: #132f4b;
  padding: 0.25rem 1rem;
  border-radius: 64px;
}

.arrow-icon {
  width: 1.125rem;
  height: auto;
  color: #38bdf8;
  cursor: pointer;
  margin-left: 1rem;
  flex-shrink: 0;
}
.arrow-icon--up {
  transform: rotate(-90deg);
}
.arrow-icon--down {
  transform: rotate(90deg);
}

.show-icon {
  width: 1.5rem;
  height: auto;
  color: #38bdf8;
}
.show-icon--up {
  transform: rotate(180deg);
}

.path__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38bdf8;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
}
@media (min-width: 992px) {
  .path__icon-container {
    left: 50%;
    transform: translateX(-50%);
  }
}

.path-icon {
  width: 1.5rem;
  height: auto;
  color: #e2e8f0;
}

.menu-icon {
  width: 2rem;
  height: auto;
  color: #e2e8f0;
  cursor: pointer;
  align-self: flex-end;
}
.menu-icon > svg {
  width: 100%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #132f4b;
  color: #38bdf8;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.5rem;
  font-size: 1.125rem;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}
.link-button:hover {
  background-color: transparent;
  color: #e2e8f0;
  border: 2px solid #38bdf8;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact__button {
  display: flex;
  margin-right: auto;
  background-color: #132f4b;
  color: #38bdf8;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  cursor: pointer;
}
.contact__button:hover {
  background-color: transparent;
  color: #e2e8f0;
  border: 2px solid #38bdf8;
}

.show-button {
  position: relative;
  left: 0.375rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  left: 0.5rem;
  color: #e2e8f0;
  font-family: "lato", sans-serif;
  cursor: pointer;
}
@media (min-width: 992px) {
  .show-button {
    flex-direction: column;
    gap: 0.25rem;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0;
}

.contact__form input,
.contact__form textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #94a3b8;
  background-color: transparent;
  font-family: inter;
}
.contact__form input:focus,
.contact__form textarea:focus {
  outline: none;
  border: 1px solid #5eead4;
  background-color: #0f172a;
}

.contact__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.contact__input label {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: lato;
  color: #5eead4;
}
.contact__input textarea {
  resize: none;
  height: 8rem;
}

.path__container {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.path {
  position: relative;
}

.path__info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #0f172a;
  padding: 1rem;
  border-radius: 10px;
  top: 0;
  margin-left: 5.5rem;
  margin-bottom: 3rem;
  max-width: 400px;
}
@media (min-width: 992px) {
  .path__info {
    right: 0;
    left: 60%;
    margin-left: 0;
    max-width: 40%;
    width: 40%;
  }
}

@media (min-width: 992px) {
  .path__info--odd {
    left: 0;
    margin-left: 0;
    width: 40%;
  }
}

.triangle-default {
  position: absolute;
  top: 0.75rem;
  left: -1.5rem;
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 1.5rem solid #0f172a;
}
@media (min-width: 992px) {
  .triangle-default {
    display: none;
  }
}

.triangle-left {
  position: absolute;
  top: 0.75rem;
  left: -1.5rem;
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 1.5rem solid #0f172a;
  display: none;
}
@media (min-width: 992px) {
  .triangle-left {
    display: block;
  }
}

.triangle-right {
  position: absolute;
  top: 0.75rem;
  right: -1.5rem;
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 1.5rem solid #0f172a;
  display: none;
}
@media (min-width: 992px) {
  .triangle-right {
    display: block;
  }
}

.path-sub-heading-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.path__vert::before {
  content: "";
  position: absolute;
  top: 2rem;
  bottom: 2.5rem;
  left: 1.25rem;
  border-radius: 4px;
  border-left: 4px solid #38bdf8;
  transform: translateX(-50%);
}
@media (min-width: 992px) {
  .path__vert::before {
    left: 50%;
  }
}

.path__date--mobile {
  position: absolute;
  top: 3.5rem;
  left: -3.5rem;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  color: #e2e8f0;
  font-weight: 600;
  font-size: 0.875rem;
  white-space: nowrap;
}
@media (min-width: 992px) {
  .path__date--mobile {
    display: none;
  }
}

.path__date {
  font-size: 1.125rem;
  font-weight: 600;
  position: absolute;
  width: 40%;
  padding-top: 0.5rem;
  display: none;
}
@media (min-width: 992px) {
  .path__date {
    display: block;
  }
}

.path__date--left {
  left: 0;
  right: 60%;
  text-align: right;
}

.path__date--right {
  right: 0;
  left: 60%;
}

.footer {
  background-color: #070e1d;
  flex-shrink: 0;
  margin-top: auto;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #e2e8f0;
}
.footer__icons {
  display: flex;
  gap: 1rem;
}/*# sourceMappingURL=styles.css.map */