html {
  box-sizing: border-box;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  color: #94a3b8;
  font-family: "inter", sans-serif;
  font-size: 1rem;
}

#root {
  position: relative;
}

main {
  margin-bottom: 8rem;
}
@media (min-width: 992px) {
  main {
    margin-bottom: 10rem;
  }
}

a {
  text-decoration: unset;
  color: unset;
  font-family: "JetBrains Mono", sans-serif;
  display: block;
}

svg {
  display: block;
}

#content-to-toggle {
  overflow: hidden;
}

.page-width, .section-wrapper, .page-heading, .footer__container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-width, .section-wrapper, .page-heading, .footer__container {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .page-width, .section-wrapper, .page-heading, .footer__container {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .page-width, .section-wrapper, .page-heading, .footer__container {
    width: 75%;
  }
}
@media (min-width: 1400px) {
  .page-width, .section-wrapper, .page-heading, .footer__container {
    width: 70%;
  }
}
@media (min-width: 1600px) {
  .page-width, .section-wrapper, .page-heading, .footer__container {
    width: 65%;
  }
}
@media (min-width: 1800px) {
  .page-width, .section-wrapper, .page-heading, .footer__container {
    width: 60%;
  }
}
@media (min-width: 2000px) {
  .page-width, .section-wrapper, .page-heading, .footer__container {
    width: 55%;
  }
}

.nav {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: ) {
  .nav {
    width: 85%;
  }
}

.outer-wrapper, .header {
  width: 100%;
}

.inner-wrapper, .hero__container {
  width: 85%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .inner-wrapper, .hero__container {
    width: 80%;
  }
}

.page-heading {
  padding: 2rem 0 1rem 0;
}
@media (min-width: 992px) {
  .page-heading {
    padding: 4rem 0 1rem 0;
  }
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}
@media (min-width: 992px) {
  .section-wrapper {
    padding: 3rem 0;
    gap: 2rem;
  }
}

.intro {
  position: relative;
}
.intro__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 992px) {
  .intro__container {
    flex-direction: row;
    align-items: center;
  }
}
.intro__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills,
.info {
  width: 100%;
  margin: 2rem auto;
  background-color: #0d121e;
  padding: 1rem 0;
}

.skills__grid,
.info__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem 1rem;
}

@media (min-width: 992px) {
  .skills__grid {
    grid-template-columns: 3fr 4fr;
  }
}

@media (min-width: 768px) {
  .info__grid {
    grid-template-columns: 3fr 2fr;
  }
}
@media (min-width: 992px) {
  .info__grid {
    grid-template-columns: 4fr 3fr;
  }
}

.skills__grid-section-1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skills__grid-section-2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 576px) {
  .skills__grid-section-2 {
    flex-direction: row;
    gap: 3rem;
  }
}
@media (min-width: 992px) {
  .skills__grid-section-2 {
    justify-self: center;
    gap: 4rem;
  }
}

@media (min-width: 768px) {
  .info__grid-section-2 {
    justify-self: center;
  }
}

.experience-section {
  margin-top: 2rem;
}
@media (min-width: 992px) {
  .experience-section {
    margin-top: 4rem;
  }
}

.project__grid {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 1rem;
}
@media (min-width: 992px) {
  .project__grid {
    gap: 6rem;
    max-width: 100%;
  }
}

.badge-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1rem;
}

.resume {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 42, 69, 0.7490196078);
  margin-top: 6rem;
  padding: 1rem 0;
}
@media (min-width: 992px) {
  .resume {
    margin-top: 8rem;
    padding: 1.5rem 0;
  }
}

.mt {
  margin-top: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

.contact__container {
  margin-top: 2rem;
  max-width: 450px;
  align-self: center;
}
@media (min-width: 992px) {
  .contact__container {
    margin-top: 3rem;
    width: 450px;
  }
}

.biography {
  display: flex;
  flex-direction: column;
}
.biography__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
@media (min-width: 1200px) {
  .biography__wrapper {
    gap: 6rem;
  }
}
@media (min-width: 1400px) {
  .biography__wrapper {
    gap: 8rem;
  }
}

.mw {
  max-width: 750px;
}

.bg-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(15, 23, 42);
  background-image: linear-gradient(28deg, rgb(15, 23, 42) 4%, rgb(16, 30, 67) 40%, rgb(29, 78, 216) 70%, rgb(15, 23, 42) 85%);
  opacity: 0;
  z-index: -300;
  position: fixed;
  background-attachment: fixed;
  opacity: 0.15;
  display: none;
}
@media (min-width: 992px) {
  .bg-gradient::before {
    display: block;
  }
}

.bg-pattern::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(148, 163, 184, 0.035) 1px, transparent 1px), linear-gradient(to right, rgba(148, 163, 184, 0.035) 1px, transparent 1px);
  background-size: 100px 100px;
  background-position: center;
  background-attachment: fixed;
  z-index: -200;
  margin-bottom: 8rem;
  display: none;
}
@media (min-width: 992px) {
  .bg-pattern::before {
    display: block;
  }
}

.bg-text {
  position: absolute;
  bottom: 8rem;
  left: -5%;
  z-index: -100;
  font-family: "playfair display sans", serif;
  font-weight: 600;
  color: rgba(148, 163, 184, 0.025);
  font-size: 10rem;
  width: 105%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .bg-text {
    font-size: 12.5rem;
  }
}
@media (min-width: 992px) {
  .bg-text {
    position: fixed;
    font-size: 15rem;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
    left: 10rem;
    bottom: -5%;
  }
}

.fade-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

em {
  color: #e2e8f0;
  font-style: unset;
  font-weight: 500;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.6;
  overflow: hidden;
}

.hero__hgroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__heading {
  font-size: 3rem;
  color: #fff;
}
.hero__heading--top {
  display: block;
  font-family: "pixelify sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #66b0d8;
}
@media (min-width: 768px) {
  .hero__heading--top {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .hero__heading--top {
    font-size: 1.5rem;
  }
}
.hero__heading--main {
  font-weight: 700;
  font-size: 3rem;
  color: #e2e8f0;
  text-shadow: 0 0.5px #fff;
}
@media (min-width: 768px) {
  .hero__heading--main {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .hero__heading--main {
    font-size: 5rem;
  }
}
.hero__heading--sub {
  font-weight: 300;
  font-size: 1.125rem;
  color: #94a3b8;
}
@media (min-width: 768px) {
  .hero__heading--sub {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  .hero__heading--sub {
    font-size: 2.125rem;
  }
}
.hero__heading--dot {
  color: #66b0d8;
  text-shadow: 0 1px #66b0d8;
}
@media (min-width: 768px) {
  .hero__heading {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .hero__heading {
    font-size: 5rem;
  }
}

.typed-cursor {
  color: #94a3b8;
  font-size: 2rem;
  line-height: 1;
}

.page-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #e2e8f0;
}
@media (min-width: 768px) {
  .page-heading {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .page-heading {
    font-size: 4rem;
  }
}
.page-heading__dot {
  color: #66b0d8;
}

.section-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #e2e8f0;
}
@media (min-width: 768px) {
  .section-heading {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 2rem;
  }
}

.sub-heading {
  font-size: 1.125rem;
  font-weight: 500;
  color: #66b0d8;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .sub-heading {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .sub-heading {
    font-size: 1.3125rem;
  }
}

.footer__heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.skill-badge__label {
  font-size: 0.875rem;
  font-weight: 500;
}

.card__heading {
  font-size: 1.25rem;
  font-weight: 500;
  color: #e2e8f0;
  color: rgb(203, 213, 225);
}
@media (min-width: 992px) {
  .card__heading {
    font-size: 1.375rem;
  }
}

.card__sub-heading {
  position: relative;
  font-size: 0.9rem;
  font-weight: 600;
  color: #66b0d8;
  text-transform: uppercase;
  margin-top: 0.375rem;
}
@media (min-width: 992px) {
  .card__sub-heading {
    font-size: 1rem;
  }
}

.text-badge__text {
  color: #5eead4;
  font-size: 0.875rem;
}

.path__heading {
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .path__heading {
    text-align: center;
    margin-bottom: 3rem;
  }
}

.info-box__heading {
  font-size: 1rem;
  font-weight: 500;
  color: #e2e8f0;
  color: rgb(203, 213, 225);
}
@media (min-width: 992px) {
  .info-box__heading {
    font-size: 1.125rem;
  }
}

.info-box__sub-heading {
  font-size: 0.875rem;
  font-weight: 600;
  color: #66b0d8;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .info-box__sub-heading {
    font-size: 1rem;
  }
}

.info-box__text {
  font-size: 0.9rem;
  border-top: 1px solid rgba(255, 255, 255, 0.075);
  padding-top: 0.5rem;
}
@media (min-width: 992px) {
  .info-box__text {
    font-size: 1rem;
  }
}

.input-error {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  color: #f47777;
  padding-top: 0.25rem;
}

#textarea-error {
  padding-top: 0;
}

.header {
  z-index: 100;
  position: relative;
  padding: 1rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.nav__logo {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #132f4b;
  border-radius: 50%;
}
@media (min-width: 992px) {
  .nav__logo {
    width: 3rem;
    height: 3rem;
  }
}
.nav__logo-inner {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 800;
}
@media (min-width: 992px) {
  .nav__logo-inner {
    font-size: 1.25rem;
  }
}
.nav__link-list {
  display: none;
  gap: 3rem;
  list-style: none;
  font-weight: 400;
  color: #e2e8f0;
  font-size: 1.125rem;
  margin: 0.5rem 0;
}
@media (min-width: 992px) {
  .nav__link-list {
    display: flex;
    align-items: center;
  }
}
.nav__link {
  display: flex;
  flex-direction: column;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.nav__link:hover > * {
  font-weight: 500;
  color: #38bdf8;
}
.nav__link::after {
  content: "";
  display: block;
  border-top: 2px solid transparent;
  border-bottom: 2px solid #38bdf8;
  transform: scaleX(0);
  transition: transform 0.4s;
  padding-top: 3px;
}
.nav__link:hover::after {
  transform: scaleX(1);
}
.nav__prefix {
  font-size: 0.875rem;
  color: #94a3b8;
  align-self: flex-end;
}
@media (min-width: 992px) {
  .nav__prefix {
    font-size: 0.875rem;
  }
}

.active-link > * {
  color: #38bdf8;
  font-weight: 600;
}

.nav__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: auto;
  top: 0;
  margin: 0 auto;
  background-color: #0d121e;
  overflow: hidden;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  .nav__dropdown {
    display: none;
  }
}

.nav-dropdown__links-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 3.5rem 0 2rem 0;
  font-size: 1.125rem;
  color: #e2e8f0;
}

.nav-dropdown__media-links {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
.nav-dropdown__media-links a svg {
  width: 1.5rem;
  height: auto;
  color: #94a3b8;
}

.hero {
  position: relative;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: ) {
  .hero {
    width: 85%;
  }
}
.hero__wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 300px;
}
.hero__container {
  position: relative;
  max-width: 100%;
}
@media (min-width: 768px) {
  .hero__container {
    max-width: 600px;
  }
}
@media (min-width: 992px) {
  .hero__container {
    max-width: 700px;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero__media-links {
  display: none;
}
@media (min-width: 992px) {
  .hero__media-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.hero__media-links a {
  transition: color 0.2s ease-in-out;
}
.hero__media-links a:hover {
  color: #38bdf8;
}

.hero__scroll-down {
  position: absolute;
  left: 50%;
  bottom: 25%;
  transform-origin: center center;
  transform: translate(-50%, 0) rotate(90deg);
}
@media (min-width: 992px) {
  .hero__scroll-down {
    bottom: 15%;
  }
}
.hero__scroll-down svg {
  color: #e2e8f0;
  font-size: 3rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  color: #66b0d8;
}
@media (min-width: 992px) {
  .hero__scroll-down svg {
    font-size: 4rem;
  }
}
.hero__scroll-down svg:hover {
  color: #38bdf8;
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.intro__avatar {
  width: 200px;
  border-radius: 50%;
}
.intro__avatar > img {
  border-radius: 50%;
}

.project__image {
  border-radius: 10px;
}

.hero__arrow-icon {
  width: 1.5rem;
  height: auto;
  color: #38bdf8;
}
@media (min-width: 992px) {
  .hero__arrow-icon {
    width: 1.75rem;
  }
}

.link-arrow-icon {
  width: 100%;
  height: auto;
  color: inherit;
}

.link-icon--sm {
  font-size: 1.25rem;
}
.link-icon--md {
  font-size: 1.5rem;
}
.link-icon--lg {
  font-size: 1.75rem;
}

.sub-heading-icon {
  width: 1.25rem;
  height: auto;
}

.skill-badge__icon {
  width: 1.375rem;
  height: auto;
  color: #e2e8f0;
}

.list-check {
  width: 1.375rem;
  height: 1.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #132f4b;
  border-radius: 50%;
}
.list-check__icon {
  width: 0.9rem;
  height: auto;
  color: #5eead4;
}

.arrow-icon {
  width: 1.125rem;
  height: auto;
  color: #38bdf8;
  cursor: pointer;
  flex-shrink: 0;
}
.arrow-icon-path {
  width: 1.5rem;
  height: auto;
  margin-left: 0;
}

.show-icon {
  width: 1.5rem;
  height: auto;
  color: #38bdf8;
}
.show-icon--up {
  transform: rotate(180deg);
}

.path__icon {
  width: 1.5rem;
  height: auto;
  color: #e2e8f0;
}

.menu-icon {
  width: 2rem;
  height: auto;
  color: #e2e8f0;
  cursor: pointer;
  align-self: flex-end;
  right: 0;
}
.menu-icon > svg {
  width: 100%;
  height: auto;
}

.info-toggler {
  display: flex;
  gap: 1rem;
  color: #e2e8f0;
  color: rgb(203, 213, 225);
  cursor: pointer;
  margin-top: -1rem;
}

.project__date-icon {
  color: #66b0d8;
  width: 1.5rem;
  height: 1.5rem;
}

.media-icon {
  width: 2rem;
  height: auto;
  color: inherit;
}
.media-icon--small {
  width: 1.25rem;
}

.download-file-icon {
  width: 1.25rem;
  height: auto;
}
@media (min-width: 992px) {
  .download-file-icon {
    width: 1.5rem;
  }
}

#code-icon,
#person-icon {
  width: 1.5rem;
  height: auto;
}

.corner-icon--top-left {
  width: 2.5rem;
  height: auto;
  color: #66b0d8;
  position: absolute;
  left: -8px;
  top: 0;
}

.corner-icon--top-right {
  font-size: 2.5rem;
  height: auto;
  color: #66b0d8;
  position: absolute;
  right: -8px;
  top: 0;
}

.project-btn__icon {
  width: 1.25rem;
  height: auto;
}
@media (min-width: 992px) {
  .project-btn__icon {
    width: 1.375rem;
  }
}

.card-styling, .info-box, .contact__form, .card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 8px rgba(32, 41, 63, 0.2);
  background-color: rgba(21, 38, 64, 0.65);
  border-top: 1px solid rgba(113, 124, 154, 0.1);
}
@media (min-width: 992px) {
  .card-styling, .info-box, .contact__form, .card {
    background-color: rgba(21, 38, 64, 0.8);
  }
}

.project {
  display: grid;
  gap: 2rem;
  flex-shrink: 0;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .project {
    grid-template-columns: 1fr 2fr;
  }
}
.project__col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.project__date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .project__date {
    font-size: 1.125rem;
  }
}
.project__link {
  position: relative;
}
.project__link--disabled {
  pointer-events: none;
  filter: blur(2px) grayscale(1) opacity(0.5);
}
.project__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s ease;
  border-radius: 0 0 10px 10px;
  font-size: 1.25rem;
  color: #5eead4;
  opacity: 0;
  font-size: 1rem;
}
@media (min-width: 992px) {
  .project__overlay {
    opacity: 0;
    border-radius: 10px;
  }
}
.project__btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 992px) {
  .project__link:hover .project__overlay {
    opacity: 1;
  }
}

.card {
  position: relative;
  border-radius: 10px;
  font-size: 0.9rem;
  gap: 1rem;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
@media (min-width: 992px) {
  .card {
    padding: 1.5rem 2rem 2rem 2rem;
    font-size: 1rem;
  }
}
.card__header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
  padding-bottom: 1rem;
}
@media (min-width: 420px) {
  .card__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.card__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.4;
  overflow: hidden;
}
.card__hidden {
  overflow: hidden;
}

.overlay__body {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.mobile__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0 10px 0 15px;
  color: #38bdf8;
}
@media (min-width: 992px) {
  .mobile__icon {
    display: none;
  }
}

.button {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  color: #38bdf8;
  border: 2px solid #38bdf8;
  border-radius: 5px;
  margin-right: auto;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 992px) {
  .button {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }
}
.button:hover {
  background-color: #38bdf8;
  color: #0d121e;
}

.hero__button {
  margin-top: 1rem;
  font-size: 1.125rem;
}
@media (min-width: 992px) {
  .hero__button {
    margin-top: 2rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .contact__button {
    font-size: 1.125rem;
  }
}

.path__toggle-btn {
  position: relative;
  top: 2.5rem;
  display: flex;
  gap: 0rem 0.5rem;
  align-items: center;
  left: 0.5rem;
  color: #e2e8f0;
  cursor: pointer;
  width: 8rem;
}
@media (min-width: 992px) {
  .path__toggle-btn {
    width: 6rem;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }
}

.link-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #e2e8f0;
  color: #38bdf8;
  font-size: 1.125rem;
}
.link-container--left {
  margin-left: 0;
  margin-right: auto;
}
.link-container--right {
  margin-left: auto;
  margin-right: 0;
}
.link-container div {
  width: 1.5rem;
}

.link-btn--sm {
  font-size: 0.9rem;
}
@media (min-width: 992px) {
  .link-btn--sm {
    font-size: 1rem;
  }
}
.link-btn--md {
  font-size: 1rem;
}
@media (min-width: 992px) {
  .link-btn--md {
    font-size: 1.125rem;
  }
}
.link-btn--lg {
  font-size: 1.125rem;
}
@media (min-width: 992px) {
  .link-btn--lg {
    font-size: 1.25rem;
  }
}
.link-btn--disabled {
  cursor: default;
  color: #5b6f97;
}

.nav__toggle-btn {
  display: block;
  width: 2rem;
  cursor: pointer;
  z-index: 1000;
}
.nav__toggle-btn > svg {
  width: 100%;
  height: auto;
  color: #e2e8f0;
}
@media (min-width: 992px) {
  .nav__toggle-btn {
    display: none;
  }
}

.resume__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem 1.25rem;
  color: #5eead4;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 1.125rem;
}
@media (min-width: 576px) {
  .resume__link {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .resume__link {
    font-size: 1.25rem;
  }
}

.page-scroll {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 1000;
}
@media (min-width: 992px) {
  .page-scroll {
    bottom: 5%;
    right: 5%;
  }
}
@media (min-width: ) {
  .page-scroll {
    right: 7.5%;
  }
}
.page-scroll__container {
  width: 100px;
  height: 100px;
  background-color: #38bdf8;
  color: #e2e8f0;
  border-radius: 50%;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
  .page-scroll__container {
    width: auto;
    height: auto;
    background-color: transparent;
    border: 2px solid #38bdf8;
    border-radius: 64px;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    padding: 0.375rem 1rem;
    transform-origin: center;
    transform: rotate(-90deg) translate(50%, -50%);
    color: #38bdf8;
    font-family: "JetBrains Mono", sans-serif;
    line-height: 1;
    box-shadow: none;
  }
}
.page-scroll__icon {
  transform: rotate(-90deg);
  position: absolute;
  left: 20px;
  top: 20px;
}
@media (min-width: 992px) {
  .page-scroll__icon {
    transform: rotate(0);
    position: static;
  }
}
.page-scroll__text {
  display: none;
}
@media (min-width: 992px) {
  .page-scroll__text {
    display: block;
    font-size: 1rem;
    font-weight: 500;
  }
}

.contact__form {
  gap: 2.5rem;
  border-radius: 10px;
  padding: 2.5rem 1.5rem;
  margin-top: 2rem;
}
@media (min-width: 576px) {
  .contact__form {
    padding: 3rem 2rem;
  }
}
.contact__fieldset {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  border: none;
  margin: 0;
  padding: 0;
}
.contact__fieldset:disabled {
  background-color: #0f172a;
  color: #5b6f97;
}
.contact__link-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.contact__input-container {
  position: relative;
}

.contact__input,
.contact__textarea {
  width: 100%;
  height: 3.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 2.5rem;
  border: none;
  border-bottom: 2px solid rgba(87, 109, 139, 0.3);
  border-radius: 5px 5px 0 0;
  background-color: rgba(93, 116, 148, 0.075);
  font-family: inter;
  font-size: 1rem;
  color: #e2e8f0;
  transition: border-color 250ms;
}
.contact__input:focus,
.contact__textarea:focus {
  outline: none;
  border-bottom: 2px solid #38bdf8;
  background-color: #0f172a;
}
.contact__input::-moz-placeholder, .contact__textarea::-moz-placeholder {
  color: transparent;
}
.contact__input::placeholder,
.contact__textarea::placeholder {
  color: transparent;
}
.contact__input::-webkit-contacts-auto-fill-button,
.contact__textarea::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.contact__textarea {
  resize: none;
  overflow-y: hidden;
  min-height: 8rem;
  color: #e2e8f0;
  padding-top: 1.75rem;
  padding-bottom: 1rem;
}

.contact__input input {
  color: #94a3b8;
}
.contact__input input:focus {
  outline: none;
  border: 2px solid #38bdf8;
}

.contact__label {
  position: absolute;
  top: 1.75rem;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  font-weight: 500;
  color: #94a3b8;
  transform-origin: left center;
  transition: all 250ms;
}

.contact__clear {
  cursor: pointer;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  color: rgba(148, 163, 184, 0.4);
  transition: color 250ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__clear:hover, .contact__clear:focus {
  color: #94a3b8;
}

#clear-msg {
  top: 1.25rem;
}

.contact__input:not(:-moz-placeholder-shown) + .contact__label {
  transform: translate(0, -1.5rem) scale(0.8);
  color: #38bdf8;
}

.contact__input:focus + .contact__label,
.contact__input:not(:placeholder-shown) + .contact__label {
  transform: translate(0, -1.5rem) scale(0.8);
  color: #38bdf8;
}

.contact__textarea:not(:-moz-placeholder-shown) + .contact__label {
  transform: translate(0, -1.5rem) scale(0.8);
  color: #38bdf8;
}

.contact__textarea:focus + .contact__label,
.contact__textarea:not(:placeholder-shown) + .contact__label {
  transform: translate(0, -1.5rem) scale(0.8);
  color: #38bdf8;
}

.contact__input:-moz-placeholder-shown + .contact__label + .contact__clear {
  display: none;
}

.contact__input:placeholder-shown + .contact__label + .contact__clear {
  display: none;
}

.contact__textarea:-moz-placeholder-shown + .contact__label + .contact__clear {
  display: none;
}

.contact__textarea:placeholder-shown + .contact__label + .contact__clear {
  display: none;
}

.path__wrapper {
  position: relative;
  width: 100%;
  left: 50%;
  max-width: 500px;
  transform: translateX(-50%);
}
@media (min-width: 992px) {
  .path__wrapper {
    max-width: 100%;
  }
}
.path__container {
  position: relative;
}
.path__segment {
  position: relative;
  padding-bottom: 3rem;
}

.path__vert-line::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 2rem;
  bottom: 2.5rem;
  left: 1.25rem;
  border-radius: 4px;
  border-left: 4px solid #38bdf8;
  transform: translateX(-50%);
}
@media (min-width: 992px) {
  .path__vert-line::before {
    left: 50%;
  }
}

.path__date {
  font-size: 1.125rem;
  font-weight: 600;
  position: absolute;
  width: 40%;
  padding-top: 0.5rem;
  display: none;
}
@media (min-width: 992px) {
  .path__date {
    display: block;
  }
}
.path__date--left {
  left: 0;
  right: 60%;
  text-align: right;
}
.path__date--right {
  right: 0;
  left: 60%;
}
.path__date--mobile {
  position: absolute;
  top: 9rem;
  left: -1.75rem;
  font-weight: 600;
  font-size: 0.875rem;
  white-space: nowrap;
  transform-origin: bottom left;
  transform: rotate(-90deg);
}
@media (min-width: 992px) {
  .path__date--mobile {
    display: none;
  }
}

.path__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38bdf8;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
}
@media (min-width: 992px) {
  .path__icon-container {
    left: 50%;
    transform: translateX(-50%);
  }
}

.info-box {
  position: relative;
  padding: 1rem 1rem 0 1rem;
  border-radius: 10px;
  top: 0;
  margin-left: 5rem;
  max-width: 500px;
}
@media (min-width: 992px) {
  .info-box {
    right: 0;
    left: 60%;
    margin-left: 0;
    max-width: 40%;
    width: 40%;
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
}
.info-box__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.info-box__expander {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
@media (min-width: 992px) {
  .info-box__bottom {
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 992px) {
  .info-box--odd {
    left: 0;
    margin-left: 0;
    width: 40%;
  }
}

.info-box__marker--default {
  position: absolute;
  top: 0.75rem;
  left: -1.5rem;
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 1.5rem solid;
}
@media (min-width: 992px) {
  .info-box__marker--default {
    display: none;
  }
}

.info-box__marker {
  position: absolute;
  top: 0.75rem;
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
}
@media (min-width: 992px) {
  .info-box__marker {
    display: block;
  }
}
.info-box__marker--default {
  left: -1.45rem;
  border-right: 1.5rem solid rgba(21, 38, 64, 0.65);
}
@media (min-width: 992px) {
  .info-box__marker--default {
    display: none;
  }
}
.info-box__marker--left {
  left: -1.45rem;
  display: none;
}
@media (min-width: 992px) {
  .info-box__marker--left {
    display: block;
    border-right: 1.5rem solid rgba(21, 38, 64, 0.8);
  }
}
.info-box__marker--right {
  right: -1.45rem;
  display: none;
}
@media (min-width: 992px) {
  .info-box__marker--right {
    display: block;
    border-left: 1.5rem solid rgba(21, 38, 64, 0.8);
  }
}

.footer {
  background-color: transparent;
  flex-shrink: 0;
  margin-top: auto;
}
.footer__container {
  display: flex;
  padding: 3rem 0;
}
@media (min-width: 992px) {
  .footer__container {
    padding: 4rem 0;
  }
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #94a3b8;
}

.footer__media-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.footer__media-links a {
  color: #e2e8f0;
  transition: color 0.2s ease-in-out;
}
.footer__media-links a:hover {
  color: #38bdf8;
}
.footer__media-links a svg {
  color: #94a3b8;
}
.footer__media-links a svg:hover {
  color: #38bdf8;
}

.banner {
  font-family: "inter", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem 1rem 3rem;
  align-items: flex-start;
  align-self: flex-start;
  gap: 0.5rem;
  border-radius: 5px;
  background: #ecfdf5;
  position: relative;
}
.banner--warning {
  background-color: #fffbeb;
}
.banner--info {
  background-color: #eff6ff;
}

.banner__heading {
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 992px) {
  .banner__heading {
    font-size: 1.125rem;
  }
}
.banner__heading--success {
  color: #065f46;
}
.banner__heading--warning {
  color: #92400e;
}
.banner__heading--error {
  color: #92400e;
}
.banner__heading--info {
  color: #1e40af;
}

.banner__text {
  font-size: 0.875rem;
  font-weight: 400;
}
@media (min-width: 992px) {
  .banner__text {
    font-size: 1rem;
  }
}
.banner__text--success {
  color: #047857;
}
.banner__text--warning {
  background-color: #fffbeb;
  color: #b45309;
}
.banner__text--error {
  color: #fd740b;
}
.banner__text--info {
  background-color: #eff6ff;
  color: #1c51b9;
}

.banner__icon {
  width: 1.375rem;
  height: 1.375rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
@media (min-width: 992px) {
  .banner__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.banner__icon--success {
  color: #34d399;
}
.banner__icon--warning {
  color: #fbbf24;
}
.banner__icon--error {
  color: #f87171;
}
.banner__icon--info {
  color: #60a5fa;
}

.spinner-container {
  width: 1rem;
  height: 1rem;
}

.spinner {
  border: 0.1rem solid #38bdf8;
  border-top: 0.1rem solid transparent;
  margin: 0 auto;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.skills__badge-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.skills__badge-list > li {
  list-style: none;
}

.skills__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
}
.skills__list > li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-left: 0;
}

.skill-badge__item {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.skill-badge__icon-container {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #132f4b;
  border-radius: 50%;
}

.skill-badge__label {
  font-size: 0.875rem;
  font-weight: 500;
}

.text-badge {
  background-color: #132f4b;
  padding: 0.375rem 1rem;
  border-radius: 64px;
}

.map {
  position: relative;
  width: 300px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 992px) {
  .map {
    display: block;
  }
}
.map__heading {
  position: absolute;
  top: 0;
  left: -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  color: #66b0d8;
  font-size: 1.125rem;
}
.map__heading div {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  letter-spacing: -2px;
}

.location-marker {
  position: absolute;
  top: 298px;
  left: -2px;
  cursor: pointer;
  z-index: 1000;
}
.location-marker__container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.location-marker__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}
.location-marker__dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.location-marker__text {
  color: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.location-marker__icon {
  width: 1.25rem;
  height: auto;
  transform: rotate(-45deg);
}
.location-marker__arrow {
  color: #66b0d8;
  width: 1.5rem;
  height: auto;
  transform: rotate(90deg);
}/*# sourceMappingURL=styles.css.map */