.bg-gradient::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(16, 30, 67);
  background: radial-gradient(
    circle,
    rgba(16, 30, 67, 1) 0%,
    rgba(15, 23, 42, 1) 100%
  );
  z-index: -300;

  @media (min-width: getBreakpoint(large)) {
    position: fixed;
    background-attachment: fixed;
  }
}

.bg-pattern::before {
  content: "";

  @media (min-width: getBreakpoint(large)) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: linear-gradient(
    //     rgba(255, 255, 255, 0.025) 1px,
    //     transparent 1px
    //   ),
    //   linear-gradient(to right, rgba(255, 255, 255, 0.025) 1px, transparent 1px);
    // background-size: 100px 100px;
    background-image: linear-gradient(
        rgba(148, 163, 184, 0.025) 1px,
        transparent 1px
      ),
      linear-gradient(to right, rgba(148, 163, 184, 0.025) 1px, transparent 1px);
    background-size: 100px 100px;
    background-position: center;
    background-attachment: fixed;
    z-index: -200;
    margin-bottom: 8rem;
    display: block;
  }
}

.bg-text {
  position: absolute;
  bottom: 8rem;
  // display: block;
  left: -5%;
  z-index: -100;
  font-family: playfair-display, serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.025);
  font-size: 10rem;
  width: 105%;
  overflow: hidden;

  @media (min-width: getBreakpoint(medium)) {
    font-size: 12.5rem;
  }

  @media (min-width: getBreakpoint(large)) {
    position: fixed;
    font-size: 15rem;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
    left: 10rem;
    bottom: -5%;
  }
}

.fade-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}
