html {
  box-sizing: border-box;
  height: 100%;
  user-select: none;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: getColor(primaryBg);
  color: getColor(textLight);
  font-family: $paragraph;
  font-size: 1rem;
}

main {
  margin-bottom: 6rem;

  @media (min-width: getBreakpoint(large)) {
    margin-bottom: 8rem;
  }
}

a {
  text-decoration: unset;
  color: unset;
  font-family: $link;
  display: block;
}

svg {
  display: block;
}

.card-styling {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to right bottom,
    rgba(25, 42, 77, 0.8),
    rgba(20, 35, 60, 0.8)
  );
  box-shadow: 0 6px 8px 1px rgb(0 0 0 / 0.1);
  border-top: 1px solid rgba(148, 163, 184, 0.1);
}
