html {
  box-sizing: border-box;
  height: 100%;
  user-select: none;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  // height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: getColor(primaryBg);
  color: getColor(textLight);
  font-family: $paragraph;
  font-size: 1rem;
}

#root {
  position: relative;
}

main {
  margin-bottom: 8rem;

  @media (min-width: getBreakpoint(large)) {
    margin-bottom: 10rem;
  }
}

a {
  text-decoration: unset;
  color: unset;
  font-family: $link;
  display: block;
}

svg {
  display: block;
}

#content-to-toggle {
  overflow: hidden;
}

