html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  user-select: none;
  height: 100%;
  margin: 0;
  background-color: pink;
  background-color: #222222;
  opacity: 1;
  background-image: linear-gradient(#b7b7b7 1px, transparent 1px),
    linear-gradient(to right, #b7b7b7 1px, #222222 1px);
  background-size: 100px 100px;
  background: rgb(16, 30, 67);
  background: radial-gradient(
    circle,
    rgba(16, 30, 67, 1) 0%,
    rgba(15, 23, 42, 1) 100%
  );
  color: getColor(textLight);
  font-family: $paragraph;
  font-size: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: unset;
  color: unset;
  font-family: $link;
  color: getColor(link);
  font-size: getSize(navLinkS);
  display: block;
}

svg {
  display: block;
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.divider {
  width: 100%;
  height: 1px;
  border: none;
  margin: 0;
  background-color: getColor(secondaryBg);
}

.active-link {
  border-bottom: 2px solid getColor(accentCol1);
  border-radius: 4px;
  transform: scaleX(1);
}

.link-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-link {
  background-color: getColor(primaryBg);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: getColor($link);
}


// background-image: radial-gradient(
//       at 40% 40%,
//       rgb(30, 144, 255) 0px,
//       transparent 50%
//     ),
//     radial-gradient(at 90% 10%, rgb(255, 105, 180) 0px, transparent 50%),
//     radial-gradient(at 50% 95%, rgb(0, 255, 255) 0px, transparent 50%),
//     radial-gradient(at 20% 30%, rgb(50, 205, 50) 0px, transparent 50%),
//     radial-gradient(at 90% 90%, rgb(255, 255, 0) 0px, transparent 50%),
//     radial-gradient(at 33% 50%, rgb(255, 69, 0) 0px, transparent 50%),
//     radial-gradient(at 79% 53%, rgb(128, 0, 128) 0px, transparent 50%);
//   position: fixed;
//   z-index: -1;
//   filter: blur(100px) saturate(100%) opacity(0.1);
//   transform: translateZ(0px);
