.hero__button {
  background-color: getColor(primaryBg);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: getColor(link);
  font-size: 1.25rem;
}

.link-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: getColor(badgeBg);
  color: getColor(buttonText);
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.5rem;
  font-size: getSize(navLinkS);
  transition: all 0.2s ease-in-out;
  font-size: 1rem;

  &:hover {
    background-color: transparent;
    color: getColor(link);
    border: 2px solid getColor(buttonText);
  }
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact__button {
  display: flex;
  margin-right: auto;
  background-color: getColor(badgeBg);
  color: getColor(buttonText);
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: getSize(navLinkS);
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: getColor(link);
    border: 2px solid getColor(buttonText);
  }
}

.show-button {
  position: relative;
  left: 0.375rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  left: 0.5rem;
  color: getColor(link);
  font-family: $link;
  cursor: pointer;

  @media (min-width: getBreakpoint(large)) {
    flex-direction: column;
    gap: 0.25rem;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }
}

.media-links {
  display: flex;
  gap: 1rem;
  color: getColor(link);
}

