.hero__button {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 0.5rem;
  color: getColor(link);

  @media (min-width: getBreakpoint(large)) {
    font-size: 1.5rem;
  }

  &:hover {
    color: getColor(accentCol1);
  }
}

.contact__btn {
  background-color: getColor(buttonBg);
  color: getColor(headingAccent);
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 1rem;
  font-size: getSize(navLinkS);
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  margin-right: auto;
  cursor: pointer;
  border-radius: 4px;
  font-family: $link;

  @media (min-width: getBreakpoint(large)) {
    font-size: 1.125rem;
  }

  &:hover {
    background-color: transparent;
    color: getColor(accentCol1);
    border: 2px solid getColor(accentCol1);
    box-shadow: none;
  }
}

.hero__media-links {
  position: absolute;
  display: flex;
  gap: 1rem;
  bottom: 6rem;
  left: 5%;

  @media (min-width: getBreakpoint(large)) {
    flex-direction: column;
    left: auto;
    right: 5%;
    top: 20%;
  }

  @media (min-width: getBreakpoint(xxLarge)) {
    right: 7.5%;
    top: 20%;
  }

  & a {
    color: getColor(link);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: getColor(accentCol1);
    }
  }
}

.footer__media-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  & a {
    color: getColor(link);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: getColor(accentCol1);
    }
  }

  & a svg {
    color: getColor(textLight);

    &:hover {
      color: getColor(accentCol1);
    }
  }
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.show-button {
  position: relative;
  top: 2.25rem;
  display: flex;
  gap: 0rem 0.5rem;
  align-items: center;
  left: 0.5rem;
  color: getColor(link);
  cursor: pointer;
  width: 8rem;

  @media (min-width: getBreakpoint(large)) {
    width: 6rem;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }
}

.link-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: getColor(link);
  color: getColor(accentCol1);
  font-size: 1.125rem;

  &--left {
    margin-left: 0;
    margin-right: auto;
  }

  &--right {
    margin-left: auto;
    margin-right: 0;
  }

  & div {
    width: 1.5rem;
  }
}

.link-btn {
  &--sm {
    font-size: 1rem;
  }

  &--md {
    font-size: 1rem;
  }

  &--lg {
    font-size: 1.125rem;
  }
}

.nav__toggle-btn {
  display: block;
  width: 2rem;
  cursor: pointer;

  & > svg {
    width: 100%;
    height: auto;
    color: getColor(link);
  }

  @media (min-width: getBreakpoint(large)) {
    display: none;
  }
}

.resume__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem 1.25rem;
  color: getColor(accentCol2);
  font-family: $link;
  font-size: 1.125rem;

  @media (min-width: getBreakpoint(small)) {
    flex-direction: row;
  }

  @media (min-width: getBreakpoint(large)) {
    font-size: 1.25rem;
  }
}

.page-scroll {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 1000;

  @media (min-width: getBreakpoint(large)) {
    bottom: 5%;
    right: 5%;
  }

  @media (min-width: getBreakpoint(xxLarge)) {
    right: 7.5%;
  }

  &__container {
    width: 100px;
    height: 100px;
    background-color: getColor(accentCol1);
    color: getColor(link);
    border-radius: 50%;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);

    @media (min-width: getBreakpoint(large)) {
      width: auto;
      height: auto;
      background-color: transparent;
      border: 2px solid getColor(accentCol1);
      border-radius: 64px;
      display: flex;
      gap: 0.75rem;
      justify-content: center;
      align-items: center;
      padding: 0.375rem 1rem;
      transform-origin: center;
      transform: rotate(-90deg) translate(50%, -50%);
      color: getColor(accentCol1);
      font-family: $link;
      line-height: 1;
      box-shadow: none;
    }
  }

  &__icon {
    transform: rotate(-90deg);
    position: absolute;
    left: 20px;
    top: 20px;

    @media (min-width: getBreakpoint(large)) {
      transform: rotate(0);
      position: static;
    }
  }

  &__text {
    display: none;

    @media (min-width: getBreakpoint(large)) {
      display: block;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
