.project {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-shrink: 0;

  @media (min-width: getBreakpoint(medium)) {
    flex-direction: row;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.125rem;
    }
  }

  &__link {
    position: relative;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.3s ease;
    border-radius: 0 0 10px 10px;
    font-size: 1.25rem;
    color: getColor(accentCol2);
    opacity: 0;
    font-size: 1rem;

    @media (min-width: getBreakpoint(large)) {
      opacity: 0;
      border-radius: 10px;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
}

.project__link:hover .project__overlay {
  @media (min-width: getBreakpoint(large)) {
    opacity: 1;
  }
}

.card {
  @extend .card-styling;
  position: relative;
  border-radius: 10px;
  font-size: 0.875rem;
  gap: 1rem;
  padding: 1rem;

  @media (min-width: getBreakpoint(medium)) {
    padding: 1.5rem;
    font-size: 1rem;
  }

  &__header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem 1rem;

    @media (min-width: getBreakpoint(xSmall)) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}

.overlay__body {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.mobile__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0 10px 0 15px;
  color: getColor(accentCol1);

  @media (min-width: getBreakpoint(large)) {
    display: none;
  }
}
