.footer {
  background-color: getColor(footerBg);
  background: linear-gradient(2780deg, rgba(16,30,67,0) 0%, rgba(15, 23, 42, 1) 100%);
  flex-shrink: 0;
  margin-top: auto;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;

    @media screen and (min-width: getBreakpoint(large)) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: getColor(link);
  }
}

