.footer {
  background-color: transparent;
  flex-shrink: 0;
  margin-top: auto;

  &__container {
    display: flex;
    padding: 3rem 0;

    @media (min-width: getBreakpoint(large)) {
      padding: 4rem 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: getColor(textLight);
  }
}

