.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0;
  max-width: 500px;
  background: linear-gradient(
    to right bottom,
    rgba(25, 42, 77, 0.8),
    rgba(20, 35, 60, 0.8)
  );
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-top: 1px solid rgba(148, 163, 184, 0.2);
  border-radius: 10px;
  padding: 2rem;
}

.form__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.contact__form input,
.contact__form textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid getColor(textLight);
  background-color: transparent;
  font-family: inter;
  font-size: inherit;

  &:focus {
    outline: none;
    border: 1px solid getColor(accentCol2);
    background-color: getColor(primaryBg);
  }
}

.contact__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  & input {
    color: getColor(textLight);
  }

  & label {
    font-size: 0.875rem;
    font-weight: 500;
    // font-family: lato;
    color: getColor(textLight);
  }

  & textarea {
    resize: none;
    height: 8rem;
    color: getColor(textLight);
  }
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   color: getColor(textLight);
//   transition: background-color 5000s ease-in-out 0s;
// }
