.header {
  @extend .outer-wrapper;
  z-index: 100;
  background-color: transparent;
  position: relative;

  @media screen and (min-width: getBreakpoint(large)) {
  }
}

.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

  &--open {
    background-color: getColor(footerBg);
  }
}

.logo {
  font-weight: 400;
  color: getColor(lightText);
  font-size: 1.5rem;
}

.nav__links {
  display: none;
  gap: 2rem;
  list-style: none;
  font-weight: 400;
  color: getColor(link);
  font-size: getSize(navLinkS);

  @media (min-width: getBreakpoint(large)) {
    display: flex;
  }
}

.nav__link {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;

  &:hover {
    color: getColor(accentCol1);
  }

  &::after {
    content: "";
    display: block;
    border-top: 2px solid transparent;
    border-bottom: 2px solid getColor(accentCol1);
    transform: scaleX(0);
    transition: transform 0.4s;
    padding-top: 3px;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.active-link {
  color: getColor(accentCol1);
}

.toggle-btn {
  display: block;
  width: 2rem;
  cursor: pointer;

  & > svg {
    width: 100%;
    height: auto;
    color: getColor(link);
  }

  @media (min-width: getBreakpoint(large)) {
    display: none;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  top: 4rem;
  // height: 0;
  width: 100%;
  height: 150px;
  right: -100%;
  // top: -214px;
  margin: 0 auto;
  background-color: getColor(footerBg);
  // background: rgb(16, 30, 67);
  // background: linear-gradient(rgba(16, 30, 67, 1) 0%, rgba(15, 23, 42, 1) 100%);
  // background: rgba($color: #fff, $alpha: 0.1);
  // backdrop-filter: blur(10px);
  // border-radius: 3px;
  // overflow: hidden;
  // transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.2475);
  

  @media (min-width: getBreakpoint(large)) {
    display: none;
    width: 300px;
  }
}

.dropdown--open {
  right: -500px;
  animation: test 0.3s ease forwards;
}

@keyframes test {
  0% {
    right: -1000px;
  }

  100% {
    right: 0;
  }
}

.dropdown__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  color: getColor(link);
}
