.header {
  @extend .outer-wrapper;
  z-index: 100;
  position: relative;
  padding: 1rem 0;
  // background-color: pink;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

  &__logo {
    font-size: 2rem;
    z-index: 1000;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $link;
    color: getColor(textLight);

    @media (min-width: getBreakpoint(large)) {
      font-size: 2.5rem;
    }
  }

  &__link-list {
    display: none;
    gap: 3rem;
    list-style: none;
    font-weight: 400;
    color: getColor(link);
    font-size: getSize(navLinkS);
    margin: 0.5rem 0;

    @media (min-width: getBreakpoint(large)) {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    &:hover > * {
      font-weight: 500;
      color: getColor(accentCol1);
    }

    &::after {
      content: "";
      display: block;
      border-top: 2px solid transparent;
      border-bottom: 2px solid getColor(accentCol1);
      transform: scaleX(0);
      transition: transform 0.4s;
      padding-top: 3px;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__prefix {
    font-size: 0.875rem;
    color: getColor(textLight);
    align-self: flex-end;

    @media (min-width: getBreakpoint(large)) {
      font-size: 0.875rem;
    }
  }
}

.active-link > * {
  color: getColor(accentCol1);
  font-weight: 600;
}

.nav__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: auto;
  top: 0;
  margin: 0 auto;
  background-color: getColor(headerBg);
  overflow: hidden;
  box-shadow: 0 6px 8px 1px rgb(0 0 0 / 0.1);

  @media (min-width: getBreakpoint(large)) {
    display: none;
  }
}

.nav-dropdown__links-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 3.5rem 0 2rem 0;
  font-size: 1.125rem;
  color: getColor(link);
}

.nav-dropdown__media-links {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;

  & a svg {
    width: 1.5rem;
    height: auto;
    color: getColor(textLight);
  }
}
