.hero {
  @extend .outer-wrapper;

  &__container {
    display: flex;
    height: 75%;
    justify-content: center;
    align-items: center;
    // background-color: pink;
    @extend .inner-wrapper;
  }
}
