.hero {
  @extend .outer-wrapper;

  &__container {
    @extend .inner-wrapper;
    display: flex;
    height: 65%;
    justify-content: center;
    align-items: center;
    max-width: 600px;

    @media (min-width: getBreakpoint(medium)) {
      width: 70%;
    }

    @media (min-width: getBreakpoint(large)) {
      height: 60%;
    }

    @media (min-width: getBreakpoint(xLarge)) {
      height: 55%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
