.hero {
  &__container {
    @extend .inner-wrapper;
    position: relative;
    top: 15%;
    max-width: 100%;
    // border: 1px solid red;

    @media (min-width: getBreakpoint(medium)) {
      max-width: 600px;
    }

    @media (min-width: getBreakpoint(large)) {
      max-width: 700px;
    }

    @media (min-width: getBreakpoint(xLarge)) {
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
