.link-icon {
  width: 100%;
  height: auto;
  color: getColor(accentCol2);
}

.brand-icon {
  width: 2rem;
  height: auto;
  color: inherit;

  &--small {
    width: 1.25rem;
  }
}

.sub-heading-icon {
  width: 1.25rem;
  height: auto;
}

.badge__icon {
  width: 1.5rem;
  height: auto;
  color: getColor(link);
}

.check-icon {
  width: 1rem;
  height: auto;
  color: getColor(accentCol2);
}

.badge {
  background-color: getColor(badgeBg);
  padding: 0.25rem 1rem;
  border-radius: 64px;
}

.arrow-icon {
  width: 1.125rem;
  height: auto;
  color: getColor(headingAccent);
  cursor: pointer;
  margin-left: 1rem;
  flex-shrink: 0;

  &--up {
    transform: rotate(-90deg);
  }

  &--down {
    transform: rotate(90deg);
  }
}

.show-icon {
  width: 1.5rem;
  height: auto;
  color: getColor(accentCol1);

  &--up {
    transform: rotate(180deg);
  }
}

.path__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: getColor(accentCol1);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  // transform: translateX(-50%);

  @media (min-width: getBreakpoint(large)) {
      left: 50%;
      transform: translateX(-50%);
    }
}

.path__icon {
  width: 1.5rem;
  height: auto;
  color: getColor(link);
}

.menu-icon {
  width: 2rem;
  height: auto;
  color: getColor(link);
  cursor: pointer;
  align-self: flex-end;

  & > svg {
    width: 100%;
    height: auto;
  }
}
