.link-arrow-icon {
  width: 100%;
  height: auto;
  color: getColor(accentCol2);
}

.brand-icon {
  width: 2rem;
  height: auto;
  color: inherit;

  &--small {
    width: 1.25rem;
  }
}

.sub-heading-icon {
  width: 1.25rem;
  height: auto;
}

.skill-badge__icon {
  width: 1.5rem;
  height: auto;
  color: getColor(link);
}

.check-mark-icon {
  width: 1rem;
  height: auto;
  color: getColor(accentCol2);
}

.arrow-icon {
  width: 1.125rem;
  height: auto;
  color: getColor(headingAccent);
  cursor: pointer;
  flex-shrink: 0;

  &-path {
    width: 1.5rem;
    height: auto;
    margin-left: 0;
  }
}

.show-icon {
  width: 1.5rem;
  height: auto;
  color: getColor(accentCol1);

  &--up {
    transform: rotate(180deg);
  }
}

.path__icon {
  width: 1.5rem;
  height: auto;
  color: getColor(link);
}

.menu-icon {
  width: 2rem;
  height: auto;
  color: getColor(link);
  cursor: pointer;
  align-self: flex-end;

  & > svg {
    width: 100%;
    height: auto;
  }
}

.info-toggler {
  display: flex;
  gap: 1rem;
  color: getColor(link);
  cursor: pointer;
}

.project__date-icon {
  color: getColor(accentCol1);
  width: 1.5rem;
  height: 1.5rem;
}

.media-links {
  display: flex;
  gap: 1rem;
  color: getColor(link);
  margin-top: 0.5rem;
  // transition: all 0.2s ease-in-out;

  :hover {
    color: getColor(link);
  }
}

