.hero {
  position: relative;
  top: -3rem;
  background-image: url("../assets/images/mountains-bg.jpg");
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 100vh;
  z-index: 1;

  @media screen and (min-width: getBreakpoint(large)) {
    top: -4rem;
  } 
}

.intro__avatar {
  width: 200px;
  border-radius: 50%;

  & > img {
    border-radius: 50%;
  }
}

.card__image {
  border-radius: 3px;

  & > img {
    border-radius: 3px;
  }
}
