figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.project__image {
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 16 / 10;
  background-color: getColor(headerBg);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}

