.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.outer-wrapper {
  width: 100%;
}

.inner-wrapper {
  width: 90%;
  margin: 0 auto;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0 6rem 0;
}

.skills__grid, .info__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  // background-color: pink;
}

.project__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
  // background-color: pink;
}

.badge__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
