.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.outer-wrapper {
  width: 100%;
}

.inner-wrapper {
  width: 90%;
  margin: 0 auto;
}

.main-layout {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.skills__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  // background-color: pink;
}

.project__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  // background-color: pink;
}
