.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.outer-wrapper {
  width: 100%;
}

.inner-wrapper {
  width: 90%;
  margin: 0 auto;
}

.main-layout {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}
