.path {
  &__wrapper {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    left: 50%;
    max-width: 500px;
    transform: translateX(-50%);

    @media (min-width: getBreakpoint(large)) {
      max-width: 100%;
    }
  }

  &__container {
    position: relative;
  }

  &__segment {
    position: relative;
    padding-bottom: 3rem;
  }
}

.path__vert-line::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 2rem;
  bottom: 2.5rem;
  left: 1.25rem;
  border-radius: 4px;
  border-left: 4px solid getColor(accentCol1);
  transform: translateX(-50%);

  @media (min-width: getBreakpoint(large)) {
    left: 50%;
  }
}

.path__date {
  font-size: 1.125rem;
  font-weight: 600;
  position: absolute;
  width: 40%;
  padding-top: 0.5rem;
  display: none;

  @media (min-width: getBreakpoint(large)) {
    display: block;
  }

  &--left {
    left: 0;
    right: 60%;
    text-align: right;
  }

  &--right {
    right: 0;
    left: 60%;
  }

  &--mobile {
    position: absolute;
    top: 9rem;
    left: -1.75rem;
    font-weight: 600;
    font-size: 0.875rem;
    white-space: nowrap;
    transform-origin: bottom left;
    transform: rotate(-90deg);

    @media (min-width: getBreakpoint(large)) {
      display: none;
    }
  }
}

.path__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: getColor(accentCol1);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;

  @media (min-width: getBreakpoint(large)) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.info-box {
  @extend .card-styling;
  position: relative;
  padding: 1rem 1rem 0 1rem;
  border-radius: 10px;
  top: 0;
  margin-left: 5rem;
  max-width: 500px;

  @media (min-width: getBreakpoint(large)) {
    right: 0;
    left: 60%;
    margin-left: 0;
    max-width: 40%;
    width: 40%;
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__expander {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  &__bottom {
    @media (min-width: getBreakpoint(large)) {
      padding-bottom: 0.5rem;
    }
  }
}

.info-box--odd {
  @media (min-width: getBreakpoint(large)) {
    left: 0;
    margin-left: 0;
    width: 40%;
  }
}

.info-box__marker--default {
  position: absolute;
  top: 0.75rem;
  left: -1.5rem;
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 1.5rem solid rgba(25, 42, 77, 0.8);

  @media (min-width: getBreakpoint(large)) {
    display: none;
  }
}

.info-box__marker {
  position: absolute;
  top: 0.75rem;
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;

  @media (min-width: getBreakpoint(large)) {
    display: block;
  }

  &--default {
    left: -1.45rem;
    border-right: 1.5rem solid rgba(25, 42, 77, 0.8);

    @media (min-width: getBreakpoint(large)) {
      display: none;
    }
  }

  &--left {
    left: -1.45rem;
    border-right: 1.55rem solid rgba(25, 42, 77, 0.8);
  }

  &--right {
    right: -1.45rem;
    border-left: 1.5rem solid rgba(25, 42, 77, 0.8);
    display: none;

    @media (min-width: getBreakpoint(large)) {
      display: block;
    }
  }
}
