.path__container {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.path {
  position: relative;
  // background-color: pink;
}

.path__info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  // background-color: getColor(primaryBg);

  padding: 1rem;
  border-radius: 10px;
  top: 0;
  margin-left: 5.5rem;
  margin-bottom: 3rem;
  max-width: 400px;
  background: linear-gradient(
    to right bottom,
    rgba(25, 42, 77, 0.8),
    rgba(20, 35, 60, 0.8)
  );
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.15), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-top: 1px solid rgba(148, 163, 184, 0.1);
  // background-blend-mode: darken;

  @media (min-width: getBreakpoint(large)) {
    right: 0;
    left: 60%;
    margin-left: 0;
    max-width: 40%;
    width: 40%;
    padding: 1.5rem;
  }
}

.path__info--odd {
  @media (min-width: getBreakpoint(large)) {
    left: 0;
    margin-left: 0;
    width: 40%;
  }
}

// .path > :nth-child(odd) {
//   @media (min-width: getBreakpoint(large)) {
//     background-color: lightgray; /* Apply styles to odd child elements */
//   }
// }

.triangle-default {
  position: absolute;
  top: 0.75rem;
  left: -1.5rem;
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 1.5rem solid rgba(25, 42, 77, 0.8);

  @media (min-width: getBreakpoint(large)) {
    display: none;
  }
}

.triangle-left {
  position: absolute;
  top: 0.75rem;
  left: -1.5rem;
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 1.5rem solid rgba(25, 42, 77, 0.8);
  display: none;

  @media (min-width: getBreakpoint(large)) {
    display: block;
  }
}

.triangle-right {
  position: absolute;
  top: 0.75rem;
  right: -1.5rem;
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 1.5rem solid rgba(25, 42, 77, 0.8);
  display: none;

  @media (min-width: getBreakpoint(large)) {
    display: block;
  }
}

.path-sub-heading-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.path__vert::before {
  content: "";
  position: absolute;
  top: 2rem;
  bottom: 2.5rem;
  left: 1.25rem;
  border-radius: 4px;
  border-left: 4px solid getColor(accentCol1);
  transform: translateX(-50%);

  @media (min-width: getBreakpoint(large)) {
    left: 50%;
  }
}

.path__date--mobile {
  position: absolute;
  top: 3.5rem;
  left: -3.5rem;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  color: getColor(link);
  font-weight: 600;
  font-size: 0.875rem;
  white-space: nowrap;

  @media (min-width: getBreakpoint(large)) {
    display: none;
  }
}

.path__date {
  // font-family: playfair display, serif;
  font-size: 1.125rem;
  font-weight: 600;
  position: absolute;
  width: 40%;
  padding-top: 0.5rem;
  display: none;
  color: getColor(test);
  // text-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.5);

  @media (min-width: getBreakpoint(large)) {
    display: block;
  }
}

.path__date--left {
  left: 0;
  right: 60%;
  text-align: right;
}

.path__date--right {
  right: 0;
  left: 60%;
}
