.skills__badge-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;

  & > li {
    list-style: none;
  }
}

.skills__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0;
  padding: 0;

  & > li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0;
  }
}
