p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

em {
  color: getColor(sectionHeading);
  font-style: unset;
  font-weight: 500;
}

p {
  line-height: 1.4;
}

// .underline {
//   position: relative;
//   margin-bottom: 1rem;
// }

// .underline::before {
//   content: "";
//   position: absolute;
//   bottom: -0.5rem;
//   left: 0;
//   width: 15%;
//   height: 2px;
//   background-color: getColor(headingAccent);
//   border-radius: 4px;
// }

.footer__heading {
  font-size: getSize(subHeadingS);
  font-weight: 600;
  color: getColor(footerHeading);
  text-transform: uppercase;
}

.hero__heading {
  font-size: getSize(heroHeadingS);
  font-weight: 700;
  color: getColor(heroHeading);
  text-shadow: 0 1px #fff;

  @media (min-width: getBreakpoint(large)) {
    font-size: getSize(pageHeadingL);
  }
}

.page-heading {
  font-size: getSize(pageHeadingS);
  font-weight: 700;
  color: getColor(headingLight);

  @media (min-width: getBreakpoint(large)) {
    font-size: getSize(pageHeadingM);
  }
}

.section-heading {
  font-size: getSize(sectionHeadingS);
  font-weight: 500;
  color: getColor(sectionHeading);

  @media (min-width: getBreakpoint(large)) {
    font-size: getSize(sectionHeadingM);
  }
}

.sub-heading {
  font-size: getSize(subHeadingS);
  font-weight: 600;
  color: getColor(headingAccent);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.badge__label {
  font-size: 0.75rem;
  font-weight: 500;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.card__heading {
  font-size: 1.25rem;
  font-weight: 500;
  color: getColor(headingLight);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.card__sub-heading {
  font-weight: 700;
  color: getColor(headingAccent);
  text-transform: uppercase;
}

.badge__text {
  color: getColor(badgeText);
  font-size: getSize(badgeText);
}

.path-heading {
  font-size: 1rem;
  font-weight: 700;
  color: getColor(headingLight);
}

.path-sub-heading {
  font-size: 0.875rem;
  font-weight: 700;
  color: getColor(headingAccent);
  text-transform: uppercase;
}

.accent-dot {
  color: getColor(headingAccent);
}
