$main-heading: "inter", sans-serif;
$secondary-heading: "inter", sans-serif;
$paragraph: "inter", sans-serif;
$link: "JetBrains Mono", sans-serif;
$background: "playfair-display", serif;

$colors: (
  primaryBg: #0f172a,
  secondaryBg: #101e43,
  headerBg: #0d121e,
  headingAccent: #66b0d8,
  heroHeading: #fff,
  textBright: #e2e8f0,
  textLight: #94a3b8,
  link: #e2e8f0,
  accentCol1: #38bdf8,
  accentCol2: #5eead4,
  buttonBg: #0d121e,
  badgeBg: #132f4b,
  // Alerts
  successHeading: #065f46,
  successText: #047857,
  successIcon: #34d399,
  errorHeading: #92400e,
  errorText: #fd740b,
  errorIcon: #f87171,
  warning: #fffbeb,
  warningHeading: #92400e,
  warningText: #b45309,
  warningIcon: #fbbf24,
  info: #eff6ff,
  infoHeading: #1e40af,
  infoText: #1c51b9,
  infoIcon: #60a5fa,
);

@function getColor($color) {
  @return map-get($colors, $color);
}

$breakpoints: (
  xSmall: 420px,
  small: 576px,
  medium: 768px,
  large: 992px,
  xLarge: 1200px,
  xxLarge: 1400px,
  xxxLarge: 1600px,
);

@function getBreakpoint($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

$fontSizes: (
  heroHeadingS: 2.5rem,
  heroHeadingM: 3.5rem,
  heroHeadingL: 4rem,
  pageHeadingS: 2.125rem,
  pageHeadingM: 2.875rem,
  pageHeadingL: 3.75rem,
  sectionHeadingS: 1.5rem,
  sectionHeadingM: 1.75rem,
  sectionHeadingL: 2rem,
  subHeadingS: 1.125rem,
  subHeadingM: 1.25rem,
  subHeadingL: 1.3125rem,
  sectionBodyTextS: 1rem,
  sectionBodyTextM: 1.25rem,
  sectionBodyTextL: 1.5rem,
  cardBodyTextS: 1rem,
  cardBodyTextM: 1rem,
  cardBodyTextL: 1.125rem,
  navLinkS: 1.125rem,
  navLinkM: 1.3125rem,
  navLinkL: 1.5rem,
  badgeText: 0.875rem,
);

@function getSize($fontSize) {
  @return map-get($fontSizes, $fontSize);
}
